@{
    ViewBag.Title = "Meniu";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sukurkite savo meniu kelionės laikotarpiui</p>
<div>
    @Html.ActionLink("Atgal", "RegisterForJourney", "RegisterForJourney")
</div>