@{
    ViewBag.Title = "Registracija";
}

<div class="row">
    <div class="col-md-4">
        <h2>Skirta keliautojam</h2>
        <p>@Html.ActionLink("Registruotis kelionei", "RegisterForJourney", "RegisterForJourney")</p>
    </div>
</div>