@{
    ViewBag.Title = "Mokėjimas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Apmokėkite už kelionę.</p>
<div>
    @Html.ActionLink("Atgal", "RegisterForJourney", "RegisterForJourney")
</div>