@{
    ViewBag.Title = "Home Page";
}

<div class="row center-block">
    <div class="col-md-4 ">
        <div class="well text-center">
            <h2>Skirta keliautojam</h2>
            <p>@Html.ActionLink("Registracija kelionei", "Journey", "RegisterForJourney")</p>
        </div>
    </div>
    <div class="col-md-4 m-4">
        <div class="well text-center">
            <h2>Skirta administratoriam</h2>
            <p>@Html.ActionLink("Administratorių puslapis", "HomeForAdmin")</p>
        </div>
    </div>
</div>