@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Skirta keliautojam</h2>
        <p>@Html.ActionLink("Keliautojų puslapis", "HomeForTraveler")</p>
    </div>
    <div class="col-md-7">
        <h2>Skirta administratoriam</h2>
        <p>@Html.ActionLink("Administratorių puslapis", "HomeForAdmin")</p>
    </div>
</div>